<!DOCTYPE html>
<html>
  <head>
    <title>INDEX</title>
  </head>
  <body>
	<h2>Hello World, this Julien app</h2>
	<p>
		The time is now: <%= Time.now %>
	</p>
  </body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> b71acf7c8fb7f6f21653df831afd213f9271f981
